.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--card-background);
  color: var(--text-color);
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.action-card {
  background-color: var(--card-background);
  color: var(--text-color);
  box-shadow: 0 4px 16px var(--card-shadow);
}

.action-card:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}