/* You can add global styles to this file, and also import other style files */

/* 🌞 Light theme (default) */
html.light {
  color-scheme: light;
}

/* 🌙 Dark theme */
html.dark {
  color-scheme: dark;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
